* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { font-family: 'Lato'; font-weight: 300; background-color: #3A3A42; background-image:url('http://i.imgur.com/p0RyJq5.png'); position:relative; }
hr { border: 0; border-top: 1px solid #eee; }
.content { width:80%; margin: 0px auto; padding:20px 20px 40px 20px; min-width: 700px; }
#list { background-color:#FFF; border-radius: 5px; padding:20px; margin-top:15px; position:relative; z-index:2; }
#overlay { display:none; background-color: rgba(0,0,0,.3); position:fixed; width:100%; height:100%; top:0px; left:0px; text-align:center; z-index: 9; }

h1, h2, h3, h4, h5, h6 { margin:2px 0px; }

header { position:relative; background-color: #95CCD8; height:135px; line-height:135px; text-align:center; border-radius: 5px 5px 0px 0px; margin-top:20px; }
.fa-check-circle-o { background-color: #95CCD8; border-radius:100%; padding:0px 13px; font-size:180px; color:#FFF; position:absolute; left:30px; top:-15px; }
header span { font-size: 45px; font-weight: bold; color: #FFF; padding-left: 100px; } 

footer { position:fixed; bottom:0px; left:0px; width:100%; text-align:center; padding:5px; color: #FFF; font-size: 12px; }

#add { width:100%; height:40px; padding:0px 10px; line-height:40px; text-align:right; background-color: #74757E; border-radius: 0px 0px 5px 5px; font-size: 15px; color:#FFF; text-decoration:none; text-transform: lowercase; cursor: pointer; }
#add a { font-size: 15px; color:#FFF; text-decoration:none; text-transform: lowercase; }
#add .fa { margin-left: 10px; font-size:20px;   position: relative; top: 2px; } 
#add_small { position:fixed; bottom:0px; right:4%; background-color:#B5E2F2; z-index: 8; display:none; color:#3A3A42; padding: 10px 10px 6px 10px; border-radius: 5px 5px 0px 0px; font-size: 25px; cursor: pointer; }
#help { position:fixed; bottom:10px; left:15px; z-index: 8; color:#FFF; font-size: 30px; cursor: pointer; }
#clear { position:absolute; top:20px; right:-35px; z-index: 8; color:#FFF; font-size: 20px; cursor: pointer; background-color:#FFF; color:#74757e; padding:10px; border-radius: 0px 5px 5px 0px; }
#clear:hover { color:#95ccd8; }

#helpFile { width:60%;   max-height: 85%; overflow: auto; background-color:#FFF;  font-size: 13px; border-radius: 5px; padding:20px;  position:fixed; z-index:10; top:50%; left:50%; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%); display:none; }
#helpFile p { margin:0px;}
#helpFile .fa { padding: 0px 3px; }

#container, #overlay { transition-duration: 1s; }
#container { display:none; position:fixed; top:50%; left:50%; background-color:#FFF; -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%); z-index: 10; width:40%; padding:20px; border-radius:5px; }
#container span { font-weight:bold; font-size:22px; margin: 0px 0px 5px 0px; display:block; }
#container p { margin:0px 0px 10px 0px; }
#container input { display:block; width: 100%; margin-bottom: 10px; box-sizing: border-box; padding: 5px; }
#container input.check { display:inline; width:20px; }
#container textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px;
    border: 1px solid #DDDDDD;
}
#container textarea:focus { 
    box-shadow: 0 0 5px rgba(181, 226, 242, 1);
    border: 1px solid rgba(181, 226, 242, 1);
    outline: none;
}
#container a:focus { 
    box-shadow: 0 0 3px rgba(218, 218, 218, 1);
    border: 1px solid rgba(218, 218, 218, 1);
    outline: none;
}
#container a { display:inline-block; text-decoration:none; color:#FFF; font-size:12px; background-color:#B5E2F2; border: 1px solid #B5E2F2; padding: 5px 10px; margin:2px; border-radius: 3px; float:right; }
#container a:hover { background-color: #aad9ea; }
#container a:first-of-type { margin-right:0px; }

.todo-item { position:relative; }
.todo-item:first-of-type { padding-top:0px; }
.todo-item:last-of-type { padding-bottom: 0px; }
.todo-item:last-of-type hr { display:none; }
.todo-item p { padding: 0px 45px 5px 0px; color: #333; font-size: 14px; margin: 14px 0px; text-align: justify; }
.todo-buttons { 
    position: absolute;
    right: 0px;
    top: 0; 
    display:table-cell;
    vertical-align:middle;
}  
.todo-buttons a {   color: #3A3A42;
    display: inline-block;
    font-size: 16px;
    
}
.todo-buttons a:last-of-type { margin-left: 10px; }
.todo-buttons a:hover { color:#adadad; }
